<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/main.css?4" />
    </head>
    <body>
        <div class="died">
            Venture further into the dungeon...
        </div>
        <div class="survived hidden">
            You live a little longer...
        </div>
        <div class="intro hidden">

        </div>
        <div class="coder hidden">
            <div id="editor"></div>
        </div>
        <div class="buttons hidden">
            <a href="javascript:void(0)" class="button try">try</a>
            <a href="javascript:void(0)" class="button reset">reset</a>
        </div>
        <script src="/jquery.js"></script>
        <script src="/ace/ace.js"></script>
        <script src="/loader.js"></script>
    </body>
</html>
